body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
}

* {
    
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color:#001F59;
    font-weight: 100;
    

}

h1,
h2 {
    font-size: 100px;
    margin-bottom: 58px;
}

h3 {
    font-size: 25px;
    margin-bottom: 28px;
}

a {
    text-decoration: none;
}

section {
    padding-top: 113px
}

p {
    margin: 0;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

/* медиа запрос на изменненеия флекси  */

.container {
    width: 1440px;
    /* max-width: 1440px; */
    /*позиционирование по центру*/
    margin: 0 auto;
    border: 1px solid #df0707;
}

/* .header {
    background: url('../img//fons/header-bg.png') no-repeat center top / cover;
    padding-top: 57px;
    color: #fff;
    padding-bottom: 322px;
    
} */

.header {
    position: relative;
    background: url('../img/fons/header-bg.png') no-repeat center top / cover;
    padding-top: 57px;
    color: #fff;
    z-index: 0;
    padding-bottom: 322px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 2, 63, 0.748);
    /* Здесь можно настроить цвет и прозрачность */
    z-index: -1;
    
}


header a {
    color: #fff;
}

.logo { 
    margin-right: 69px;
    width: 10%;
}

.nav {
    display: flex;
    align-items: center;
  }

.nav .logo-Wellcom{
    margin-left: auto;
    width: 18%;

}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    border-bottom: 1px solid #fff;
}

.menu li {
    margin-right: 40px;
}



.offer {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-left: 170px;
    margin-top: -50px;
}

.offer h2 {
    font-size: 42px;
    /* margin-bottom: 19px; */
    margin-top: 40px;
    margin-left: -30px;
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
}

.offer .btn-flex{
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo-IT{
    display: flex;

}

.logo-IT-img{
    width: 200px;
}


.span-text{
   color: #ffffff; 

}

/* Z INDEX  */

.btn {
    justify-content: center;
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 370px;
    transition: all 0.5s ease;
    border-radius: 40px;
    margin-top: 50px;
    
}

.btn:hover {
    background: #fff;
    color: #000;
    
}

.description {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
     flex-direction: column;
}

@media screen and (max-width: 900px) { 
    .description{
        display: flex;
        flex-direction: column;
       
    }
}

.description p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}

.desc-left,
.desc-right {
    max-width: 567px;
    border: 1px solid #df0707;
}

.desc-left ul{
    margin-left: 130px;
}

.laptop{
    max-height: 377px;
    border-radius: 0px 80px 10px 10px;
}

.gallery {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.gallery img {
    transition: all 0.5s ease;
}

.gallery img:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.footer-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 114px 0
}

.footer-text p {
    margin-right: 67px;
}

.span-bolt{
font-weight: 700;
}


.custom-list {
    font-size: 35px;
    padding-left: 0;
    list-style-type: none;
}

.custom-list li {
    position: relative;
    margin-bottom: 10px;
    line-height: 1.5;
    white-space: nowrap;

}

.custom-list li:before {
    content: "";
    display: inline-block;
    width: 128px;
    /* Размер маркера */
    height: 128px;
    /* Размер маркера */
    margin-right: 10px;
    /* Отступ между маркером и текстом */
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.li-icon-one:before {
    margin-left: -128px;
    background-image: url('/IMG/icon/calendar.png');
    
}

.li-icon-two:before {
    margin-left: -128px;
    background-image: url('/IMG/icon/time.png');
}

.li-icon-three:before {
    margin-left: -128px;
    background-image: url('/IMG/icon/online-learning.png');
}


.desc-right p {
    font-size: 25px;
    margin-top: 30px;
    color: #001F59 ;
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
}

.desc-left h3 {
    font-size: 35px;
    color: #001F59;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

/*  */
.container_background{
    margin: 0 auto;
    /* display: flex; */
    width: 100%;
    height: 1200px;
    background: linear-gradient(to right,rgb(224, 224, 223), 50%, rgb(249, 212, 7));
    
}

.container_header_about_course{
    display: flex;
}

.container_header_about_course h2{
    margin-top: 80px;
    
}

.logo-Wellcom_2{
   height: 18%;
   margin-left: auto;
}

.container_ul{
    display: flex;
    font-size: 24px;   
    hyphens: auto;
}

.container_ul ul{
/* display: list-item; */
    list-style-type: disc;
    border-top:3px solid #000;

/* margin-bottom: 50px; */
    padding-bottom: 50px;
}

.container_ul ul:last-child{
   border-bottom: 3px solid #000; 
}

.container_ul_right{
    max-width: 43%;
    margin-left: auto;
}

.container_ul_right li{
    display: list-item;
    list-style-type: disc;
}

.container_ul_right ul:last-child{
    height: 250px;
}

.container_ul_left{  
    max-width: 42%;
}

.container_ul_left li
{
    display: list-item;
    list-style-type: disc;
}

/*  */

            

.section_for_whom {
    display: flex;
    justify-content: space-between;
    /* margin:0; */
}


.left-list-container{
    display: flex;
    flex-direction: column;
    max-width: 48%;
}

.right-list-container{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 48%;
}


.list {
    padding: 20px;
    margin-bottom: 60px;
    border: 1px solid #df0707;
    
}

.list p{
    font-size: 18px;
    padding-left: 135px;
    margin-top: -50px;
}

.right-list{
    height: 171px;
}

.list h3 {
    font-size: 24px;
    color:#F9D407;
    margin-bottom: 10px;
}

.with-icon::before {
    content: '';
    display: inline-block;
    width: 128px;
    /* Размер маркера */
    height: 128px;
    /* Размер маркера */
    margin-right: 10px;
    /* Отступ между маркером и текстом */
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.left-list .with-icon::before {
    background-image: url('/IMG/icon/eye.png');
    /* Изображение для списка слева */
}

.left-list-one .with-icon::before {
    background-image: url('/IMG/icon/student-with-graduation-cap.png');
    /* Изображение для списка слева */
}


.right-list .with-icon::before {
    background-image: url('/IMG/icon/briefcase.png');
    /* Изображение для списка справа */
}

.right-list-one .with-icon::before {
    background-image: url('/IMG/icon/magnifying-glass.png');
    /* Изображение для списка справа */
}

.container_for_whom_REGISTER{
    display: flex;
    flex-direction: column;
}

.btn-flex_for_whom{
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn-flex_for_whom a{
    color: #ffffff;
    background-color:#001F59;
}

.container_for_whom_REGISTER h3{
    font-weight: 800;
    color: #F9D407;
    font-size: 50px;
    text-align: center;
    margin: 40px;
    
}

/* .price_right{
    margin-left: auto;
} */

.price{
    text-align: center;
    width: 400px;
    font-size: 18px;
}

.price p{
    margin-bottom: 20px;
    color: #001F59;
}
/* */
.price_1{
    display: flex;
    justify-content: space-around;
}


.price_radius {
    text-align: center;
    width: 400px;
    height: 80px;
    background-color: #001F59;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
}

.ul_price{
    padding-top: 10px;
}

.ul_price :first-child{
    color: #F9D407;
    font-size: 30px;
    font-weight: 900;
}

/* registration*/

.container_input{
    display: flex;
    justify-content: space-around;

}

.container_registration_left{
    padding-top: 80px;
    height: 1000px;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    border: 5px solid #f0eded;
    flex-direction: column;
    
}

.container_registration_left_one{
    display: block;
    border: 1px solid #e53333;
    /* margin: 4% 0; */
    margin: 50px 0px;
    
}

.container_registration_left_one h4{
    font-size: 40px;
    Text-Transform: Capitalize
}

.container_registration_left_one p{
    font-size: 30px;
    color: #001F59;
}

.input_form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}