body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 100px;
    margin-bottom: 58px;
}

h3 {
    font-size: 25px;
    margin-bottom: 28px;
}

a {
    text-decoration: none;
}

section {
    padding-top: 113px
}

p {
    margin: 0;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}



.container {
    width: 1440px;
    /*позиционирование по центру*/
    margin: 0 auto;
}

/* .header {
    background: url('../img//fons/header-bg.png') no-repeat center top / cover;
    padding-top: 57px;
    color: #fff;
    padding-bottom: 322px;
    
} */

.header {
    position: relative;
    background: url('../img/fons/header-bg.png') no-repeat center top / cover;
    padding-top: 57px;
    color: #fff;
    z-index: 0;
    padding-bottom: 322px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 2, 63, 0.748);
    /* Здесь можно настроить цвет и прозрачность */
    z-index: -1;
    
}


header a {
    color: #fff;
}

.logo { 
    margin-right: 69px;
    width: 10%;
}

.nav {
    display: flex;
    align-items: center;
  }

.nav .logo-Wellcom{
    margin-left: auto;
    width: 18%;

}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    border-bottom: 1px solid #fff;
}

.menu li {
    margin-right: 40px;
}



.offer {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-left: 170px;
    margin-top: -50px;
}

.offer h1 {
    font-size: 42px;
    /* margin-bottom: 19px; */
    margin-top: 40px;
    margin-left: -30px;
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
}

.offer .btn-flex{
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo-IT{
    display: flex;

}

.logo-IT-img{
    width: 200px;
}


.span-text{
    

}

/* Z INDEX  */

.btn {
    justify-content: center;
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 270px;
    transition: all 0.5s ease;
    border-radius: 40px;
    margin-top: 50px;
    
}

.btn:hover {
    background: #fff;
    color: #000;
    
}

.description {
    display: flex;
    justify-content: space-between;
}

.description p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}

.desc-left,
.desc-right {
    width: 567px;
}

.laptop{
    height:400px;
    border-radius: 0px 80px 10px 10px;
}

.gallery {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.gallery img {
    transition: all 0.5s ease;
}

.gallery img:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.footer-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 114px 0
}

.footer-text p {
    margin-right: 67px;
}

.span-bolt{
font-weight: 700;
}


.custom-list {
    font-size: 35px;
    padding-left: 0;
    list-style-type: none;
}

.custom-list li {
    position: relative;
    margin-bottom: 10px;
    line-height: 1.5;
    white-space: nowrap;

}

.custom-list li:before {
    content: "";
    display: inline-block;
    width: 128px;
    /* Размер маркера */
    height: 128px;
    /* Размер маркера */
    margin-right: 10px;
    /* Отступ между маркером и текстом */
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.li-icon-one:before {
    margin-left: -128px;
    background-image: url('/IMG/icon/calendar.png');
    
}

.li-icon-two:before {
    margin-left: -128px;
    background-image: url('/IMG/icon/time.png');
}

.li-icon-three:before {
    margin-left: -128px;
    background-image: url('/IMG/icon/online-learning.png');
}


.desc-right p {
    font-size: 25px;
    margin-top: 30px;
    color: #001F59 ;
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
}

.desc-left h3 {
    font-size: 35px;
    color: #001F59;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.container_background{
    display: flex;
    width: 100%;
    height: 1900px;
    background: linear-gradient(to right,rgb(224, 224, 223), 50%, rgb(249,
        212,
        7));
    
}

.container_header_about_course{
    display: flex;
}

.container_header_about_course h2{
    margin-top: 80px;
    
}

.logo-Wellcom_2{
   height: 18%;
   margin-left: auto;
}

.container_ul{
display: flex;
font-size: 25px;
}

ul.container_ul {
list-style-type: disc;
}

.container_ul_right{
max-width: 38%;
margin-left: auto;
}

.container_ul_left{
max-width: 40%;

}
/* 

*/
